html, body {
  height: 100%;
  margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 5px rgb(171, 164, 164);
    background-image: url("background-test-1.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated; 
}

h1{
    position: fixed;
    margin: auto;
    text-align: center;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#paywallOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

#cookieLayout{
    position: fixed;
    margin: auto;
    text-align: center;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#paywallOverlay button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

#paymentForm {
    display: none;
    margin-top: 15px;
}

#cookieButton{
    width: 640px;
    height: 640px;
    image-rendering: pixelated; 
    border: none;
    background: none;
}

#cookie{
    width: 640px;
    height: 640px;
}

.upgradeButton:hover {
    background-color: #04AA6D;
    color: white;
}


