html, body {
  height: 100%;
  margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 5px rgb(171, 164, 164);
    background-image: url("background.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated; 
}

h1{
    position: fixed;
    margin: auto;
    text-align: center;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#paywallOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

#cookieLayout{
    position: fixed;
    margin: auto;
    text-align: center;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#paywallOverlay button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

#paymentForm {
    display: none;
    margin-top: 15px;
}

#cookieButton{
    position: absolute;
    width: 320px;
    height: 320px;
    image-rendering: pixelated; 
    border: none;
    background: none;
    cursor: pointer;
}

#cookie{
    width: 320px;
    height: 320px;
    transition: transform 0.1s ease;
}

#upgradeButton:hover {
    background-color: #aa3304;
    color: white;
}

#upgradeButton{
    width: 250px;
    height: 50px;
}

#autoClicker{
    width: 300px;
    height: 50px;
}

#autoClicker:hover {
    background-color: #aa3304;
    color: white;
}


.button {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#cookie:active {
  transform: scale(0.92);
}

#cookieButton::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255); 
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    animation: pulse 1s infinite;
}


@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
